<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Line Details</title>
    <link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>

<a th:if="${session.currentUser.getEmail}"></a>
<p>Welcome, <span th:text="${session.currentUser.email}"></span>!</p>


<h1>Order Line Details</h1>

<form th:action="@{/allorderlinedetails}" method="post">
    <label for="email">Enter User Email:</label>
    <input type="text" id="email" name="email" required>
    <button type="submit">Search</button>
</form>

<table>
    <thead>
    <tr>
        <th>Quantity</th>
        <th>Topping</th>
        <th>Topping Price</th>
        <th>Bottom</th>
        <th>Bottom Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="orderLineDetails : ${orderLine}">
        <td th:text="${orderLineDetails.quantity}"></td>
        <td th:text="${orderLineDetails.toppingName}"></td>
        <td th:text="${orderLineDetails.toppingPrice}"></td>
        <td th:text="${orderLineDetails.bottomName}"></td>
        <td th:text="${orderLineDetails.bottomPrice}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
