<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>


<a th:if="${session.currentUser.getEmail}"></a>
<p>Welcome, <span th:text="${session.currentUser.email}"></span>!</p>

<div class="boxtitle">

    <div>
        <img alt="logo" src="../public/images/olskerlogo.png" th:src="@{/images/olskerlogo.png}">
    </div>
    <div th:if="${session.currentUser}">
        <p>Welcome, <span th:text="${session.currentUser.email}"></span>!</p>
        <div th:if="${session.currentUser != null}">
            <p>Your current wallet balance: <span th:text="${session.currentUser.wallet}"></span> DKK</p>
        </div>
    </div>



    <form  method="post" th:action="@{/orderlinedetailsforcart}">
        <table>
            <thead>
            <tr>
                <th>Quantity</th>
                <th>Topping</th>
                <th>Topping Price</th>
                <th>Bottom</th>
                <th>Bottom Price</th>
                <th>Order Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="orderLineDetails : ${orderLine}">
                <td th:text="${orderLineDetails.quantity}"></td>
                <td th:text="${orderLineDetails.toppingName}"></td>
                <td th:text="${orderLineDetails.toppingPrice + ' DKK'}"></td>
                <td th:text="${orderLineDetails.bottomName}"></td>
                <td th:text="${orderLineDetails.bottomPrice + ' DKK'}"></td>
                <td th:text="${orderLineDetails.totalPrice + ' DKK'}"></td>
            </tr>
            </tbody>
        </table>
    </form>


</div>



<script>
    function goBack() {
        window.history.back();
    }
</script>

</body>
</html>