<!DOCTYPE html>
<html lang="en">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1">
    <title>Create User</title>
</head>
<body>
<div class="card-image">
    <header>
        <a href="createuser.html" th:href="@{/}">
            <img alt="logo" src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}">
        </a>
    </header>
    <h1>
        CREATE USER!
    </h1>
</div>

<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Create user</button>

<div id="id01" class="modal">

    <form class="modal-content animate" action="/templates/homepage.html" method="post">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            <img src="/public/images/img_avatar2.png" alt="Avatar" class="avatar" th:src="@{/images/img_avatar2.png}">
        </div>

        <div class="container" method="post">
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" id="email" required>
            <input type="password" name="password1" placeholder="Enter new password">
            <input type="password" name="password2" placeholder="Enter new password again">
            <button type="submit" formaction="/createuser">Create user</button>
        </div>


<script>
    // Get the modal
    const modal = document.getElementById('id01');

    // When the user clicks anywhere outside the modal, close it
    window.onclick = function(event) {
        if (event.target === modal) {
            modal.style.display = "none";
        }
    }
</script>
    </form>
</div>
</body>
</html>