<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1">
    <title>Create User</title>
</head>
<body>
<div class="card-image">
    <header>
        <a href="createuser.html" th:href="@{/}">
            <img alt="logo" src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}">
        </a>
    </header>
    <h1>
        Olsker Cupcakes!
    </h1>
</div>

<div id="id01" class="modal">

    <form class="modal-content animate" action="/templates/homepage.html" method="post">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            <img src="/public/images/img_avatar2.png" alt="Avatar" class="avatar" th:src="@{/images/img_avatar2.png}">
        </div>

        <div class="container" method="post">
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" id="email" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" id="password" required>

            <button type="submit"formaction="/login">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>

        <div th:if="${session.currentUser != null}">
            <span th:text="${session.currentUser.email}"></span> |
            <a href="homepage.html" th:href="@{/logout}">Logout</a>
        </div>


        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
</div>

<script>
    // Get the modal
    const modal = document.getElementById('id01');

    // When the user clicks anywhere outside the modal, close it
    window.onclick = function(event) {
        if (event.target === modal) {
            modal.style.display = "none";
        }
    }
</script>

</body>
</html>