<!DOCTYPE html>
<html lang="en">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1">
    <title>Olsker Cupcakes</title>
</head>
<body>
<div class="card-image">
    <header>
        <a href="frontpage.html" th:href="@{/}">
            <img alt="logo" src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}">
        </a>
    </header>

    <div class="tables-container">
        <table>
            <caption>The Bottoms</caption>
            <thead>
            <tr>
                <th>Bottom</th>
                <th>Price (DKK)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Chocolate</td>
                <td>5.00 DKK</td>
            </tr>
            <tr>
                <td>Vanilla</td>
                <td>5.00 DKK</td>
            </tr>
            <tr>
                <td>Nutmeg</td>
                <td>5.00 DKK</td>
            </tr>
            <tr>
                <td>Pistachio</td>
                <td>6.00 DKK</td>
            </tr>
            <tr>
                <td>Almond</td>
                <td>7.00 DKK</td>
            </tr>
            </tbody>
        </table>

        <table>
            <caption>The Toppings</caption>
            <thead>
            <tr>
                <th>Topping</th>
                <th>Price (DKK)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Chocolate</td>
                <td>5.00 DKK</td>
            </tr>
            <tr>
                <td>Blueberry</td>
                <td>5.00 DKK</td>
            </tr>
            <tr>
                <td>Raspberry</td>
                <td>5.00 DKK</td>
            </tr>
            <tr>
                <td>Crispy</td>
                <td>6.00 DKK</td>
            </tr>
            <tr>
                <td>Strawberry</td>
                <td>6.00 DKK</td>
            </tr>
            <tr>
                <td>Rum/Raisin</td>
                <td>7.00 DKK</td>
            </tr>
            <tr>
                <td>Orange</td>
                <td>8.00 DKK</td>
            </tr>
            <tr>
                <td>Lemon</td>
                <td>8.00 DKK</td>
            </tr>
            <tr>
                <td>Blue cheese</td>
                <td>9.00 DKK</td>
            </tr>
            </tbody>
        </table>
    </div>


    <h1>
        Olsker Cupcakes!
    </h1>
</div>
<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
<a href="createuser.html" th:href="@{createuser}"><button style="width:auto;">Create user</button></a>




<div id="id01" class="modal">

    <form class="modal-content animate" action="/templates/homepage.html" method="post">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            <img src="/public/images/img_avatar2.png" alt="Avatar" class="avatar" th:src="@{/images/img_avatar2.png}">
        </div>

        <div class="container" method="post">
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" id="email" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" id="password" required>

            <button type="submit"formaction="/login">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>

        <div th:if="${session.currentUser != null}">
            <span th:text="${session.currentUser.email}"></span> |
            <a href="homepage.html" th:href="@{/logout}">Logout</a>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
</div>

<script>
    // Get the modal
    const modal = document.getElementById('id01');

    // When the user clicks anywhere outside the modal, close it
    window.onclick = function(event) {
        if (event.target === modal) {
            modal.style.display = "none";
        }
    }
</script>


</body>
</html>