<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<header>Welcome to Olsker Cupcakes!</header>

<div th:if="${session.currentUser != null && session.currentUser.role == 'admin'}">
    <p>Welcome, Admin!</p>
</div>

<div th:if="${session.currentUser != null}">
    <p>Wallet Balance: <span th:text="${session.currentUser.wallet}"></span></p>

    <form action="/addMoneyToWallet" method="post">
        <label for="amount">Add Money:</label>
        <input type="number" id="amount" name="amount" required>
        <button type="submit">Add</button>
    </form>
</div>



<select class="form-control-toppings" id="dropDownList">
    <option value="0">select option</option>
    <option th:each="topping : ${toppingsList}" th:text="${topping.toppingname +' - '+topping.toppingprice}" th:value="${topping.toppingprice}"></option>
</select>

<select class="form-control" id="dropDownListBottom">
    <option value="0">select option</option>
    <option th:each="bottom : ${bottomsList}" th:text="${bottom.bottomsName +' - '+ bottom.bottomsPrice}" th:value="${bottom.bottomsPrice}"></option>
</select>



</body>
</html>
