<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<header>FUCK DIG OTTO</header>
<div th:if="${session.currentUser != null && session.currentUser.role == 'admin'}">
    <p>Welcome, Admin!</p>
</div>

<table>

    <thead>
    <tr>
        <th>Topping name</th>
        <th>Topping Price</th>
    </tr>
    </thead>

    <tbody>

    <tr th:each="topping : ${toppingsList}">
        <td th:text="${topping.toppingname}"></td>
        <td th:text="${toppingStat.size}"></td>
    </tr>
    </tbody>
</table>


</body>
</html>