<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>


<a th:if="${session.currentUser.getEmail}"></a>

<div class="boxtitle">


    <div>
        <img alt="logo" src="../public/images/olskerlogo.png" th:src="@{/images/olskerlogo.png}">
    </div>
    <div th:if="${session.currentUser}">
        <p>Welcome, <span th:text="${session.currentUser.email}"></span>!</p>

    </div>
    <div th:if="${session.currentUser != null}">
        <p th:if="${session.currentUser != null}">Your current wallet balance: <span th:text="${session.currentUser.wallet}"></span> DKK</p>
    </div>
        <div class="options">

            <a href="#" th:href="@{/dummyhomepage}">Dummy Homepage</a>
            <a href="orderlinedetails.html" th:href="@{orderlinedetails}">Your Orders</a>
            <a th:if="${session.currentUser.role == 'admin'}" href="adminpage.html" th:href="@{adminpage}">Admin
                page</a>
            <a href="wallet.html" th:href="@{wallet}">Add money to wallet</a>

            <a href="cart.html" th:href="@{cart}">
            <i href="#" class="fa fa-shopping-cart fa-2x"></i>
            </a>

        </div>

    </div>
    <div class="head-image">
        <img alt="logo" src="../public/images/bakemyday.png" th:src="@{/images/bakemyday.png}">
    </div>

    <div class="boxcontent">
        <div class="center-content">
            <div class="cupcake-customization">
                <p>Customize your own cupcake!</p>
                <form th:action="@{/makecupcake}" method="post">
                    <select id="dropDownList" name="toppingsID">
                        <option value="0">Select Toppings</option>
                        <option th:each="topping : ${toppingsList}"
                                th:text="${topping.toppingname +' - '+topping.toppingprice + ' DKK'}"
                                th:value="${topping.toppingsID}"></option>
                    </select>

                    <select id="dropDownListBottom" name="bottomsID">
                        <option value="0">Select Bottoms</option>
                        <option th:each="bottom : ${bottomsList}"
                                th:text="${bottom.bottomsName +' - '+ bottom.bottomsPrice + ' DKK'}"
                                th:value="${bottom.bottomsID}"></option>
                    </select>

                    <label for="quantity">Add Quantity:</label>
                    <input type="number" id="quantity" name="quantity" required>
                    <button style="width:auto;" onclick="goBack()">Add to cart</button>
                </form>
            </div>
        </div>
    </div>
    <div class="productgrid">
        <img src="../public/images/cardslidecopy.png" th:src="@{/images/cardslidecopy.png}">
        <img src="../public/images/cardslidecopy.png" th:src="@{/images/cardslidecopy.png}">
        <img src="../public/images/cardslidecopy.png" th:src="@{/images/cardslidecopy.png}">
        <img src="../public/images/cardslidecopy.png" th:src="@{/images/cardslidecopy.png}">
    </div>

    <br>
    <br>

    <p>For kontakt : <br> Skriv til Otto Dyva på Instagram med @otto.dyva</p>
    <p>For klage :<br> Skriv til Bekhan Husejnovich Mahauri </p>
    <p>Brug for øl? <br> Skriv til Ryan Niaina Zachariasen ;- )</p>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>

</body>
</html>