<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Order Line Details</title>
  <link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>

<h1>Order Line Details</h1>
<form  method="post">
<table>
  <thead>
  <tr>
    <th>Quantity</th>
    <th>Topping</th>
    <th>Topping Price</th>
    <th>Bottom</th>
    <th>Bottom Price</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="orderLine : ${orderLine}">
    <td th:text="${orderLine.quantity}"></td>
    <td th:text="${orderLine.toppingName}"></td>
    <td th:text="${orderLine.toppingPrice}"></td>
    <td th:text="${orderLine.bottomName}"></td>
    <td th:text="${orderLine.bottomPrice}"></td>
  </tr>
  </tbody>
</table>
</form>
</body>
</html>


<button style="width:auto;" onclick = "goBack()">Go back</button>

<script>
  function goBack() {
    window.history.back();
    window.history.back();
  }
</script>

<script>
  function goBack() {
    window.history.back();
    window.history.back();
  }
</script>

<script>
  function goBack() {
    window.history.back();
    window.history.back();
  }
</script>