<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>orderlinedetails</title>
  <link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>

<h1>Your orders so far</h1>
<a th:if="${session.currentUser.getEmail}"></a>
<p>Welcome, <span th:text="${session.currentUser.email}"></span>!</p>

<form  method="post" th:action="@{/orderlinedetails}">
<table>
  <thead>
  <tr>
    <th>Quantity</th>
    <th>Topping</th>
    <th>Topping Price</th>
    <th>Bottom</th>
    <th>Bottom Price</th>
    <th>Order Price</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="orderLineDetails : ${orderLine}">
    <td th:text="${orderLineDetails.quantity}"></td>
    <td th:text="${orderLineDetails.toppingName}"></td>
    <td th:text="${orderLineDetails.toppingPrice + ' DKK'}"></td>
    <td th:text="${orderLineDetails.bottomName}"></td>
    <td th:text="${orderLineDetails.bottomPrice + ' DKK'}"></td>
    <td th:text="${orderLineDetails.totalPrice + ' DKK'}"></td>
  </tr>
  </tbody>
</table>
</form>
</body>
</html>


<button style="width:auto;" onclick = "goBack()">Go back</button>

<script>
  function goBack() {
    window.history.back();
  }
</script>

