<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wallet</title>
    <link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="card-image">
    <header>
        <a href="wallet.html" th:href="@{/}">
            <img alt="logo" src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}">
        </a>
    </header>
</div>

<div th:if="${session.currentUser != null}">
    <p>Wallet Balance: <span th:text="${session.currentUser.wallet}"></span></p>

    <form th:action="@{/addMoneyToWallet}" method="post">
        <label for="amount">Add Money:</label>
        <input type="number" id="amount" name="amount" required>
        <button type="submit">Add</button>
    </form>
</div>

<div th:if="${session.currentUser != null}">
    <a href="homepage.html" th:href="@{homepage}"><button style="width:auto;">Go back to Homepage</button></a>
</div>

</body>
</html>